:root {
  --primary-color: #155b94;
  --background-color: #ffffff;
  --border-radius: 3px;
}

html {
  box-sizing: border-box;
  height: 100%;
}

* {
  box-sizing: inherit;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  background-color: #e7f5fd;
}
